/*
Color Palette
Brown:#523E33
light-brown: #94877E
green: #94C842
light-green: #D2E3B3
gray: #808080
green: #06BC9B
*/

/* BODY STYLE */

body {
  margin: 1%;
  background-color: #fff;
  color: #808080;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.8;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  color: #94C842;
  text-align: center;
  justify-content: space-around;
  padding: 1%;
  margin: 0;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #94C842;
  justify-content: space-around;
  padding: 1%;
  margin: 0;
  line-height: 2;
}

.address {
  text-align: center;
  justify-content: space-around;
}

/* BANNER */

.banner-img {
  background-image: url(../images/students-competing-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #D2E3B3;
  position: relative;
  width: 100%;
  height: 450px;
  border: solid 20px #D2E3B3;
  margin-bottom: 0;
}

.banner-text {
  position: absolute;
  color: ghostwhite;
  background-color: #000;
  background-color: rgba(13, 13, 13, .65);
  top: 300px;
  right: 100px;
  width: 35%;
  height: 100px;
}

/* LOGO */

.logo-container {
  position: absolute;
  top: 350px;
  left: 100px;
  width: 200px;
  height: 200px;
  border: solid 2px #D2E3B3;
}

.logo-img {
  width: 100%;
  height: auto;
}

/* NAVIGATION */

.nav-container {
  height: 150px;
}

nav ul {
  list-style: none;
  float: right;
}

nav li {
  position: relative;
  float: left;
  right: 150px;
  padding: .5em 2em;
  margin: 1.25em 1em;
  background: #D2E3B3;
  text-align: center;
  box-shadow: .1em -.1em 0 .1em rgba(0, 0, 0, .2),
  inset 0 0 0 .15em #D2E3B3, -.1em .1em 0 .1em rgba(0, 0, 0, .2);
}

nav li:hover {
  transform: scale(1.2);
}

nav a {
  color: #523E33;
  text-decoration: none;
  font-size: 1.4em;
}

nav a:active {
  color: #94877E;
  text-decoration: underline;
}

nav a:focus {
  color: #94877E;
  text-decoration: underline;
}

/* GRID STYLE */

.article {
  padding: 0 4em 0 4em;
}

/* LOCATION MAP */

.mapWrapper {
  padding-bottom: 10%;
  padding-top: 2em;

}

.mapWrapper iframe {
  top: 0;
  left: 10%;
  width: 100%;
  height: 450px;
  border: solid 2px #06BC9B;
  box-shadow: .1em -.1em 0 .1em rgba(0, 0, 0, .2),
  inset 0 0 0 .15em #06BC9B, -.1em .1em 0 .1em rgba(0, 0, 0, .2);
}

/* LINES */

.horizontal-line {
  position: absolute;
  width: 85%;
  margin-right: 10px;
  height: 10px;
  right: 20px;
  top: 520px;
  background-color: #94C842;
  z-index: -1;
}

.vertical-line {
  border-left: solid 10px #94C842;
  margin-left: 25px;
}


/* FOOTER */

footer {
  font-size: 16px;
  color: #523E33;
  background-color: #D2E3B3;
  padding: 20px;
  text-align: center;
}

.social a {
  width: 2em;
  position: relative;
  display: inline-block;
  font-size: 24px;
  color: #523E33;
}

.social a:hover {
  border-radius: 50%;
  background-color: #94877E;
}

/* Button */

button {
  color: #94877E;
  line-height: 2;
  border: solid #94877E;
  background-color: white;
  border-radius: 25px;
  padding: 0 1em 0 1em;
}

button:hover {
  color: white;
  font-weight: bold;
  border: solid #94877E;
  background-color: #94877E;
}

.text-box {
  border-radius: 25px;
  border: solid 1px #523E33;

}

.text-box:focus {
  width: 300px;
}
